@use "flex"as flex;
@use "base"as base;
@use "nav"as nav;


html,
body {
  height: 100%;
  background-image: url("/IMAGES/pic1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.container {
  border: 1px solid black;
  background-color: #EDF0F1;
  padding: 10px;
  width: 390px;
  height: 600px;
  filter: drop-shadow(2px 4px 8px #3a3838);
  border-radius: 5px;
}

.nav {

  &__ul {
    padding: 0;
    margin: 0;
  }

  &__li {
    margin-left: 30px;
    font-size: 14px;
    color: #352e2e;
    min-width: 15px;
    min-height: 20px;
    padding: 3px;

    &:hover {
      background-color: #80d4f0;
    }
  }

  &__li--logo {
    margin-right: auto;
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    color: #352e2e;
  }
}

div {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97.5px;
  height: 65px;
  box-shadow: 1px 1px 8px 2px inset #66accf;
  border-radius: 5px;

  &:hover {
    background-color: #80d4f0;
  }

}

.btns {

  &__memory {
    height: 40px;
    border: none;
    box-shadow: none;
  }
}


#equal {
  background-color: #C1FAFF;
  box-shadow: 1px 1px 8px 2px inset #66accf;

  &:hover {
    background-color: #80d4f0;
  }
}

#btns__visualBox {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 0;
}

#btns__calcBox {
  font-size: 1.2rem;

}